<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.whli.jee.system.dao.ISysMenuDao">

	<resultMap id="RM_SysMenu" type="com.whli.jee.system.entity.SysMenu">
				<id property="id" column="ts_sys_menu_id"/>
        		<result property="parentId" column="parent_id"/>
        		<result property="name" column="name"/>
        		<result property="sort" column="sort"/>
        		<result property="href" column="href"/>
        		<result property="target" column="target"/>
        		<result property="icon" column="icon"/>
        		<result property="createBy" column="create_by"/>
        		<result property="createDate" column="create_date"/>
        		<result property="updateBy" column="update_by"/>
        		<result property="updateDate" column="update_date"/>
        		<result property="remark" column="remark"/>
        		<result property="enable" column="enable"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		ts_sys_menu_id,parent_id,name,sort,href,target,icon,create_by,create_date,update_by,update_date,remark,enable
	    ]]>
	</sql>

	<!-- 增加 -->
	<insert id="add" parameterType="com.whli.jee.system.entity.SysMenu">
		INSERT INTO ts_sys_menu
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="entity.id != null">
				ts_sys_menu_id,
			</if>
			<if test="entity.parentId != null">
				parent_id,
			</if>
			<if test="entity.name != null">
				name,
			</if>
			<if test="entity.sort != null">
				sort,
			</if>
			<if test="entity.href != null">
				href,
			</if>
			<if test="entity.target != null">
				target,
			</if>
			<if test="entity.icon != null">
				icon,
			</if>
			<if test="entity.createBy != null">
				create_by,
			</if>
			<if test="entity.createDate != null">
				create_date,
			</if>
			<if test="entity.updateBy != null">
				update_by,
			</if>
			<if test="entity.updateDate != null">
				update_date,
			</if>
			<if test="entity.remark != null">
				remark,
			</if>
			<if test="entity.enable != null">
				enable,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="entity.id != null">
				#{entity.id},
			</if>
			<if test="entity.parentId != null">
				#{entity.parentId},
			</if>
			<if test="entity.name != null">
				#{entity.name},
			</if>
			<if test="entity.sort != null">
				#{entity.sort},
			</if>
			<if test="entity.href != null">
				#{entity.href},
			</if>
			<if test="entity.target != null">
				#{entity.target},
			</if>
			<if test="entity.icon != null">
				#{entity.icon},
			</if>
			<if test="entity.createBy != null">
				#{entity.createBy},
			</if>
			<if test="entity.createDate != null">
				#{entity.createDate},
			</if>
			<if test="entity.updateBy != null">
				#{entity.updateBy},
			</if>
			<if test="entity.updateDate != null">
				#{entity.updateDate},
			</if>
			<if test="entity.remark != null">
				#{entity.remark},
			</if>
			<if test="entity.enable != null">
				#{entity.enable},
			</if>
		</trim>
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="com.whli.jee.system.entity.SysMenu">
		UPDATE ts_sys_menu
		<set>
			<if test="entity.parentId != null">
				parent_id = #{entity.parentId},
			</if>
			<if test="entity.name != null">
				name = #{entity.name},
			</if>
			<if test="entity.sort != null">
				sort = #{entity.sort},
			</if>
			<if test="entity.href != null">
				href = #{entity.href},
			</if>
			<if test="entity.target != null">
				target = #{entity.target},
			</if>
			<if test="entity.icon != null">
				icon = #{entity.icon},
			</if>
			<if test="entity.createBy != null">
				create_by = #{entity.createBy},
			</if>
			<if test="entity.createDate != null">
				create_date = #{entity.createDate},
			</if>
			<if test="entity.updateBy != null">
				update_by = #{entity.updateBy},
			</if>
			<if test="entity.updateDate != null">
				update_date = #{entity.updateDate},
			</if>
			<if test="entity.remark != null">
				remark = #{entity.remark},
			</if>
			<if test="entity.enable != null">
				enable = #{entity.enable},
			</if>
		</set>
		WHERE ts_sys_menu_id = #{entity.id}
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="java.lang.String">
		<![CDATA[
			DELETE FROM ts_sys_menu WHERE
			 ts_sys_menu_id = #{id}
		]]>
	</delete>

	<!-- 批量删除 -->
	<delete id="deleteMore" parameterType="java.util.List">
		DELETE FROM ts_sys_menu WHERE
		 ts_sys_menu_id in
		<foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</delete>

	<!-- 根据ID查询 -->
    <select id="findByPK" resultMap="RM_SysMenu">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM ts_sys_menu
	        WHERE 
		        ts_sys_menu_id = #{id}
	    ]]>
	</select>

	<!-- 根据编码查询 -->
	<select id="findByNo" resultMap="RM_SysMenu">

	</select>

	<!-- 根据名称查询 -->
	<select id="findByName" resultMap="RM_SysMenu">
		SELECT <include refid="columns" />
		<![CDATA[
		    FROM ts_sys_menu
	        WHERE
		        name = #{name}
	    ]]>
	</select>
	
	<sql id="findByPageWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       	<if test="entity.id != null and entity.id !=''">
				AND ts_sys_menu_id = #{entity.id}
			</if>
			<if test="entity.parentId == null or entity.parentId == ''">
				AND parent_id IS NULL
			</if>
		   <if test="entity.parentId != null and entity.parentId != ''">
				AND parent_id = #{entity.parentId}
			</if>
		   <if test="entity.name != null and entity.name !=''">
				AND name LIKE '%${entity.name}%'
			</if>
		   <if test="entity.sort != null and entity.sort !=''">
				AND sort = #{entity.sort}
			</if>
		   <if test="entity.href != null and entity.href !=''">
				AND href = #{entity.href}
			</if>
		   <if test="entity.target != null and entity.target !=''">
				AND target = #{entity.target}
			</if>
		   <if test="entity.icon != null and entity.icon !=''">
				AND icon = #{entity.icon}
			</if>
		   <if test="entity.createBy != null and entity.createBy !=''">
				AND create_by = #{entity.createBy}
			</if>
		   <if test="entity.createDate != null">
				AND create_date = #{entity.createDate}
			</if>
		   <if test="entity.updateBy != null and entity.updateBy !=''">
				AND update_by = #{entity.updateBy}
			</if>
		   <if test="entity.updateDate != null">
				AND update_date = #{entity.updateDate}
			</if>
		   <if test="entity.remark != null and entity.remark !=''">
				AND remark = #{entity.remark}
			</if>
		   <if test="entity.enable != null and entity.enable !=''">
				AND enable = #{entity.enable}
		   </if>
		</where>
	</sql>

    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findByPage" resultMap="RM_SysMenu">
    	SELECT <include refid="columns" />
	    FROM ts_sys_menu
		<include refid="findByPageWhere"/>
		ORDER BY sort
    </select>

	<!-- 查询所有数据 -->
	<select id="findAll" resultMap="RM_SysMenu">
		SELECT <include refid="columns" />
		FROM ts_sys_menu
		<where>
			<if test="entity.id != null and entity.id !=''">
				AND ts_sys_menu_id = #{entity.id}
			</if>
			<if test="entity.parentId != null and entity.parentId != ''">
				AND parent_id = #{entity.parentId}
			</if>
			<if test="entity.name != null and entity.name !=''">
				AND name LIKE '%${entity.name}%'
			</if>
			<if test="entity.sort != null and entity.sort !=''">
				AND sort = #{entity.sort}
			</if>
			<if test="entity.href != null and entity.href !=''">
				AND href = #{entity.href}
			</if>
			<if test="entity.target != null and entity.target !=''">
				AND target = #{entity.target}
			</if>
			<if test="entity.icon != null and entity.icon !=''">
				AND icon = #{entity.icon}
			</if>
			<if test="entity.createBy != null and entity.createBy !=''">
				AND create_by = #{entity.createBy}
			</if>
			<if test="entity.createDate != null">
				AND create_date = #{entity.createDate}
			</if>
			<if test="entity.updateBy != null and entity.updateBy !=''">
				AND update_by = #{entity.updateBy}
			</if>
			<if test="entity.updateDate != null">
				AND update_date = #{entity.updateDate}
			</if>
			<if test="entity.remark != null and entity.remark !=''">
				AND remark = #{entity.remark}
			</if>
			<if test="entity.enable != null and entity.enable !=''">
				AND enable = #{entity.enable}
			</if>
		</where>
		ORDER BY sort
	</select>

	<!-- 根据用户及角色获取菜单 -->
	<select id="findMenusByUserId" resultMap="RM_SysMenu">
		SELECT DISTINCT a.* FROM ts_sys_menu a,tr_sys_role_menu b,ts_sys_role c,tr_sys_user_role d,ts_sys_user e
		WHERE a.ts_sys_menu_id = b.ts_sys_menu_id AND b.ts_sys_role_id = c.ts_sys_role_id
		AND c.ts_sys_role_id = d.ts_sys_role_id AND d.ts_sys_user_id = e.ts_sys_user_id AND a.enable = '1'
		AND (a.target != 'BUTTON' OR a.target is null) AND a.parent_id = #{parentId} AND e.ts_sys_user_id = #{userId}
		ORDER BY a.sort
	</select>

	<!-- 根据用户及角色获取按钮-->
	<select id="findButtonsByParentUrlAndUserId" resultMap="RM_SysMenu">
		SELECT
			a.*
		FROM
			ts_sys_menu a
		INNER JOIN ts_sys_menu f ON a.parent_id = f.ts_sys_menu_id
		INNER JOIN tr_sys_role_menu b ON a.ts_sys_menu_id = b.ts_sys_menu_id
		INNER JOIN ts_sys_role c ON b.ts_sys_role_id = c.ts_sys_role_id
		INNER JOIN	tr_sys_user_role d ON c.ts_sys_role_id = d.ts_sys_role_id
		INNER JOIN ts_sys_user e ON d.ts_sys_user_id = e.ts_sys_user_id
		WHERE a. ENABLE = '1'
		AND a.target = 'BUTTON'
		AND f.href LIKE '%${parentUrl}%'
		AND e.ts_sys_user_id = #{userId}
		ORDER BY a.sort
	</select>

	<!-- 依据父ID查询菜单 -->
	<select id="findByTree" parameterType="java.lang.String" resultType="com.whli.jee.core.web.entity.BaseTree">
		SELECT a.ts_sys_menu_id id,a.parent_id pid,a.name FROM ts_sys_menu a
		WHERE 1=1
		<if test="parentId == null or parentId == ''">
			AND a.parent_id IS NULL
		</if>
		<if test="parentId != null and parentId != ''">
			AND a.parent_id = #{parentId}
		</if>
		ORDER BY a.sort
	</select>

	<!-- 依据父ID及序号查询菜单 -->
	<select id="findByParentIdAndSort" parameterType="com.whli.jee.system.entity.SysMenu" resultMap="RM_SysMenu">
		SELECT * FROM ts_sys_menu WHERE 1=1
		<if test="entity.parentId == null or entity.parentId == ''">
			AND parent_id IS NULL
		</if>
		<if test="entity.parentId != null and entity.parentId != ''">
			AND parent_id = #{entity.parentId}
		</if>
		<if test="entity.id != null and entity.id !=''">
			AND ts_sys_menu_id != #{entity.id}
		</if>
		AND sort = #{entity.sort}
	</select>
</mapper>

